.container-no-playlists {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.text-no-playlists {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

.playlist-icon {
    margin-top: 30px;
}

.playlist-dashboard-play {
    position: static;
}

.playlist-index-dashboard-container {
    display: flex;
    width: 100%;  
    margin-bottom: 36px;
}

.playlist-index-img {
    min-width: 160px;
    max-width: 160px;
    min-height: 160px;
    max-height: auto;
    border: 1px solid #999;
    display: block;
    margin-right: 15px;
    background-color: aliceblue;
}

.play-btn-playlist-dashboard {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 5px; 
    cursor: pointer; 
}

.container-playlist-track-info-index {
    display: block;
    width: 100%;
}

.text-content-playlist-index {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.username-playlist-dashboard {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}

.playlist-title-dashboard {
    font-size: 15px;
}

.playlist-track-index-dash-container {
    display: flex;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 7px;
}

.no-tracks {
    opacity: 0.5;
    cursor: default;
}

.no-tracks-border-bar {
    margin-top: 15px;
    border-bottom: 2px solid #f2f2f2;
    width: 100%;
}

.container-sound-wave-playlist {
    width: 100%;
    height: 60px;
    position: relative;
}

.soundwave-no-tracks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.btns-playlist-items-options {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}

.playlist-container-btn {
    display:flex;
    min-width: 20px;
    height: 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 2px 9px 2px 9px;
    text-align: center;
    height: 22px;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

.playlist-container-btn:hover {
    border: 1px solid #999;
    border-radius: 3px;
}

.playlist-trash, .playlist-edit-btn {
    margin-right: 8px;
}

.center-btns {
    display: flex;
    margin-top: 5px;
}






