.filler-img-playlist {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    margin-right: 10px;
    background-image: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(150,150,208,1) 0%, rgba(0,251,255,0.5060399159663865) 78%);
}

.playlist-index-add-container {
    padding: 25px;
}

.list-playlists-index-container {
    display: block;
}

.item-playlist-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #f2f2f2;
}

.playlist-context-item-container {
    display: block;
    width: 100%;
}

.show-playlist-title {
    font-size: 14px;
    color: #333;
    font-family: interstateregular;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.frequency-container {
    display: flex;
}

.frequency-symbol {
   color: #999; 
}

.tracks-length {
    color: #999;
    font-size: 11px;
}

.inner-container-playlist-item-info {
    width: 100%;
    margin-top: 8px;
}

#playlist-item-0 {
    border-top: none;
}

.added-track-btn {
    height: 26px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 8px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.added-to-playlist-text, .add-to-playlist-text {
    font-family: interstatelight;
    font-size: 14px;
    font-weight: 100;
    margin-top: 5px;
    color: rgb(50, 162, 227);
}

.add-to-playlist-text {
    color: #333;
}

.added-track-btn:hover {
    border: 1px solid rgb(50, 162, 227);
    border-radius: 3px;
}

.add-to-playlist-btn {
    height: 26px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 8px;
    width: 170px;
    text-align: center;
    cursor: pointer;
}

.playlist-list-scroll {
    max-height: 70vh;
    overflow-y: scroll;
}