.update-playlist-info-container {
    position: absolute;
    width: auto;
    margin-top: 76px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.padding-container-update-playlist {
    background-color: #fff;
    padding: 14px 25px 0;
}

.container-header-playlist-info {
    font-family: interstateregular;
    font-size: 24px;
    line-height: 1.6;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}

.nav-info-session {
    cursor: pointer;
}

.nav-info-session:hover {
    border-bottom: 1px solid #333;
    margin-bottom: -1px;
}

.targeted-basic-info, .targeted-delete-tracks-info {
    border-bottom: 1px solid rgb(50, 162, 227);
    margin-bottom: -1px;
    color: rgb(50, 162, 227);
}

.nav-info-session, .targeted-basic-info, .targeted-delete-tracks-info {
    margin-right: 24px;
}

.playlist-edit-container {
    display: flex;
}

.playlist-right-side-info {
    display: block;
}

.playlist-title-container-update {
    width: 457px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3px;
}

.title-text-playlist-update-container, .description-playlist {
    display: flex;    
    font-size: 12px;
    font-family: interstatelight;
    margin-bottom: 6px;
}

.playlist-title-string {
    color: #333;
}

.playlist-ast {
    color: rgb(50, 162, 227);
}

.playlist-description-edit-container {
    display: block;
    width: 457px;
    margin-left: 15px;
    margin-top: 30px;
}

.options-edit-playlist {
    display: flex;
    margin: 20px -25px 0;
    padding: 20px 25px;
    border-top: 1px solid #f2f2f2;
}

.container-require {
    display: flex;
    font-size: 12px;
    font-family: interstatelight;
}

.update-buttons-playlist {
    margin-left: auto;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    text-align: center;
    font-family: interstatelight;
}

.cancel-btn-playlist, .upload-btn-playlist {
    padding: 2px 11px 2px 10px;
    cursor: pointer;
}

.upload-btn-playlist {
    background-color: rgb(50, 162, 227);
    cursor: pointer;
    border-radius: 3px;
    color: white;
}

.container-require {
    line-height: 26px;
}

.list-playlist-tracks-select {
    width: 747px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 7px;
}

.track-img-playlist-track {
    height: 30px;
    width: 30px;
    margin: 0 15px 0 0;
}

.container-update-modal-playlist-track {
    margin-top: 25px;
    display: block;
}

.list-playlist-tracks-select {
    display: flex;
}
.container-playlist-list-track-info {
    display: flex;
    margin-top: 7px;
}

.track-title-playlist-track {
    font-size: 14px;
    font-weight: 400;
    font-family: interstatelight;
    margin-top: 8px;
}

.delete-playlist-track-now-container {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 5px;
}

.delete-playlist-track-now {
    color: #999;
    cursor: pointer;
}

.empty-state-tracks {
    width: 747px;
    height: 15px;   
}


