.modal-background {
    background-color: rgba(242,242,242, 0.7);
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    height: auto;
}


/* .form-container {
    position: absolute;
    z-index: 1;
    background: white;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 80%;
    transform: translate(-50%, -50%);
    margin-top: 16px;
} */

.modal-form {
    /* position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 100%;
    transform: translate(-50%, -50%);
    margin-top: 16px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    background: #fff;
    width: 450px;
    height: 620px;
    border-radius: 3px;
}


.close-x-btn {
    right: 20px;
    top: 15px;
    position: absolute;
    font-family: interstatelight;
    cursor: pointer;
}

.modal-container {
    position: relative;
    height: 70%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 20%);
    margin: 0 auto;
}

.signup-fc {
    top: -19%;
}

.signup-input {
    width: 88%;
    height: 4%;
    font-size: 18px;
    position: relative;
    font-family: interstatelight;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin-top: 15px;
    outline: none;
}

.submit-form, .change-session-btn{
    margin-top: 15px;
    width: 92.8%;
    height: 8%;
    font-size: 18px;
    font-family: interstatelight;
    background-color:#48b8e6; 
    padding: 10px;
    border-radius: 3px;
    color: white;
    outline: none;
    margin-bottom: 10px;
}




/* .change-session-btn {
    width: 92.8%;
    height: 6%;
    font-size: 18px;
    font-family: interstatelight;
    background-color:#48b8e6; 
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
   
} */

.message-session {
    width: 92.8%;
    height: 6%;
    font-size: 18px;
    font-family: interstatelight;   
    color: black;
    text-align: center;
    margin: 0 auto;
}

.session-form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.other-btns{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.demo-user-btn {
    width: 92.8%;
    height: 10%;
    font-size: 18px;
    font-family: interstatelight;
    background-color:#48b8e6; 
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    margin-left: 16.5px;
    margin-top: 50px;
}

/* .login-form-title {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 350px;
    margin-top: 70px;
    font-size: 32px;
    font-weight: 400;
} */

.signup-form-title {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 400px;
    margin-top: 60px;
    font-size: 32px;
    font-weight: 400;
    height: auto;
    display: flex;
}

.error-credentials {
    display: flex; 
    position: relative;    
    margin: 0 auto;
    width: 92%;
    float: left;    
}

.error-signup {
    border: 1px solid rgba(216, 0, 12, 1);
    box-shadow: 0 0 5px rgba(216, 0, 12, 1);
}

.error-password{
    border: 1px solid rgba(216, 0, 12, 1);
    box-shadow: 0 0 5px rgba(216, 0, 12, 1);
}
