.hidden {
    visibility: hidden;
    position: absolute;
    display: none;
}

.upload-page {
        margin: 0 auto;
        width: 800px;
}

.fillblock {
        width: 800px;
        height: 90px;
        margin: 0 auto;
}

.upload-shrink-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 2px dashed #F2F2F2;
}

.upload-form-container {
   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    box-shadow: 1px solid black;
}

.upload-meter {
    height: 50px;
    padding: 30px 20px 0 20px;
    display: flex;
    justify-content: flex-end;
}

.upload-main-container {
    margin: 100px 0;
}

.choose-file {
    display: inline-block;
    position: relative;
    width: 300px;
    background-color: #48b8e6;
    border-color: #48b8e6;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;

}

.upload-header {
    font-size: 22px;
    color: #333;
    font-weight: 100;
    line-height: 3.5;
    font-family: Arial, Helvetica, sans-serif

}


.best-type {
    margin-bottom: 26px;
    font-family: Arial, Arial, Helvetica, sans-serif;
}


