@font-face {
    font-family: 'interstateregular';
    src: url('./interstatelite.otf');
    /* src: url(<%= asset_path 'interstateregular.otf' %>)  format('otf'); */
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'interstatelight';
    src: url(<%= asset_path './interstateregular.otf' %>)  format('otf');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'interstatelight';
    src: url(<%= asset_path 'interstate_light_regular-webfont.woff2' %>) format('woff2');
    src: url(<%= asset_path 'interstate_light_regular-webfont.woff' %>) format('woff');
    font-weight: normal;
    font-style: normal;

} */

/* @font-face {
    font-family: 'interstateregular';
    src: url(<%= asset_path "interstateregular_regular-webfont.woff2" %>) format('woff2');
    src: url(<%= asset_path "interstateregular_regular-webfont.woff" %>) format('woff');
    font-weight: normal;
    font-style: normal;

} */