.player-container {
    width: 1180px;
    height: 48px;
    margin: 0 auto;
    display: flex;
}

.status-btn {
    border: none;
    background-color: transparent;
    display: flex;
    position: relative;
    font-size: 20px;
}

.fa-step-forward, .fa-step-backward, .fa-play, .fa-pause {
    color: #333;
    cursor: pointer;
    margin: 0 auto;
}

.fa-play, .fa-pause {
    margin-right:15px;
    
}

.test-status {
    margin-bottom: 27px;
    display: flex;
}

.fa-step-backward {
    margin-left: 15px;
    margin-right: 15px;
}



.status-btn:focus {
    outline: none;
}

.button-container {
    font-size: 20px;
    float: left;
    position: relative;
    height: auto;
    top: 10px;
    display: flex;
}

.progress-bar-container{
    display: flex;
    position: relative; 
    min-width: 40vw;
    top: 17px;
    font-size: 20px;
    
}

.current-time {
    color: rgb(50, 162, 227);
    font-family: interstatelight;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 7px;
}

.track-time {
    color: #999;
    font-family: interstatelight;
    font-size: 12px;
    margin-left: 7px;
}

.progress-bar {
    min-width: 45vw;
    border-top: 1px solid #999;;
    position:relative;
    top: 7px;
    display: flex;
}

.fa-volume-up{
    margin-left: 45px;
    position: relative;
    color: #333;
    cursor: pointer;
}
   
.volume{
    float: right;
    font-size: 20px;
    display: flex;
    bottom: 3px;
}

.music-info {
    flex: right;
    position: relative;
    float: left;
}

.info-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 200px;
    margin-left: 15px;
}

.preview-music {
    width: 30px;
    height: 30px;
    position: relative;
}

.title-uploader {
    display: inline-block;
    margin-left: 10px;
    font-size: 11px;
    line-height: 16px;
    font-family: interstatelight;
}

.music-uploader {
    color: #999;
}

.music-track-title {
    color: #333;
    width: 100%;
}


.unable {
    color: #999;
    cursor: default;
}






